.TopBar {
  margin-top: 30px;
  height: 75px;
}

.TopBarInner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
  height: 100%;
}

.TopBarUser {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

.TopBarUserImage {
  width: 100%;
  height: 100%; /* Ensure the image covers the full height of the container */
  object-fit: cover; /* This makes the image cover the available space without stretching */
  border-radius: 50%; /* Match the container's border-radius to maintain the circular shape */
}
